<div id="<%= dom_id order %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Customer email:</strong>
    <%= order.customer_email %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Fulfilled:</strong>
    <%= order.fulfilled %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Total:</strong>
    <%= order.total %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Address:</strong>
    <%= order.address %>
  </p>

  <% if order.order_products.any? %>
    <h2 class="font-medium text-lg mt-5">Products</h2>
    <ul class="list-disc list-inside">
      <% order.order_products.each do |order_product| %>
        <li>
          <%= order_product.product.image.present? ? image_tag(order_product.product.image.variant(:thumb)) : image_tag("https://via.placeholder.com/50") %> - <%= order_product.product.name %> - <%= order_product.size %> - <%= order_product.quantity %> 
        </li>
      <% end %>
    </ul>
  <% else %>
    <p class="my-5">No products</p>
  <% end %>

</div>
